In [163]:
import pandas as pd
import numpy as np

In [164]:
url = 'https://raw.githubusercontent.com/henriquepgomide/caRtola/master/data/01_raw/2023/rodada-14.csv'
rodada_atual = pd.read_csv(url)

rodadas_anteriores = []

for i in range(1, 6):
    url = f'https://raw.githubusercontent.com/henriquepgomide/caRtola/master/data/01_raw/2023/rodada-{i}.csv'
    rodada = pd.read_csv(url)
    rodadas_anteriores.append(rodada)
    
df = pd.concat([rodada_atual] + rodadas_anteriores, ignore_index=True)

In [165]:
df.isnull().sum()

df2 = df.fillna(0)

In [166]:
#DF2 Head

In [167]:
#TESTE

In [168]:
# Dicionário de mapeamento das posições
mapeamento_posicoes = {
    1: 'GOL',
    2: 'LAT',
    3: 'ZAG',
    4: 'MEI',
    5: 'ATA',
    6: 'TEC'
}

# Criação da coluna "posicao" com base em "atletas.posicao_id"
df2['posicao'] = df2['atletas.posicao_id'].map(mapeamento_posicoes)

In [169]:
# Dicionário de mapeamento do status do jogador
mapeamento_posicoes = {
    2: 'PROVÁVEL',
    3: 'CONTUNDIDO',
    5: 'DÚVIDA',
    6: 'SUSPENSO',
    7: 'NULO'
   
}

# Criação da coluna "posicao" com base em "atletas.posicao_id"
df2['status'] = df2['atletas.status_id'].map(mapeamento_posicoes)

In [170]:
df2.columns

Index(['Unnamed: 0', 'atletas.variacao_num', 'atletas.preco_num',
       'atletas.foto', 'atletas.nome', 'atletas.clube.id.full.name',
       'atletas.atleta_id', 'atletas.apelido_abreviado', 'atletas.rodada_id',
       'atletas.posicao_id', 'atletas.status_id', 'atletas.clube_id',
       'atletas.pontos_num', 'atletas.minimo_para_valorizar',
       'atletas.jogos_num', 'atletas.media_num', 'atletas.apelido',
       'atletas.slug', 'A', 'CA', 'DS', 'FC', 'FD', 'FF', 'FS', 'FT', 'G',
       'PP', 'I', 'SG', 'PS', 'CV', 'DE', 'GS', 'V', 'PC', 'DP', 'GC',
       'atletas.temporada_id', 'posicao', 'status'],
      dtype='object')

In [171]:
#Só para saber quais são os status_id

# Exibir os valores únicos da coluna 'nome' no DataFrame
valores_unicos = df2['atletas.status_id'].unique()

# Exibir os valores únicos da coluna 'nome'
print(valores_unicos)

[7 6 3 2 5]

In [172]:
coluna_nome = df2['atletas.nome']
print(coluna_nome)

0        Luis Antônio Venker de Menezes
1            Fábio Deivson Lopes Maciel
2            Bruno Ferreira Mombra Rosa
3       Márcio Rafael Ferreira de Souza
4                    Fábio Santos Romeu
                     ...
4292           Felipe Negrucci Berdague
4293               Paulo Vitor Monteiro
4294             Daniel Camargo Nolasco
4295            Arielson Sampaio Galvão
4296        Leandro Mathias Silva Bueno
Name: atletas.nome, Length: 4297, dtype: object

In [173]:
contagem_nomes = df2['atletas.nome'].value_counts()
print(contagem_nomes)

Matheus Martinelli Lima           6
Horacio Gabriel Carabajal         6
Alan Javier Franco                6
Paulo Henrique Sampaio Filho      6
Jhon Adolfo Arias Andrade         6
                                 ..
AloÃ­sio dos Santos GonÃ§alves    1
Gabriel IvÃ¡n Mercado             1
MaurÃ­cio Kozlinski               1
Magno JosÃ© da Silva              1
Luiz Fernando Iubel               1
Name: atletas.nome, Length: 1048, dtype: int64

In [174]:
#Só para saber a posição do atleta
df2[['atletas.posicao_id','posicao']]

      atletas.posicao_id posicao
0                      6     TEC
1                      1     GOL
2                      5     ATA
3                      2     LAT
4                      2     LAT
...                  ...     ...
4292                   4     MEI
4293                   4     MEI
4294                   3     ZAG
4295                   5     ATA
4296                   1     GOL

[4297 rows x 2 columns]

In [175]:
df2[['atletas.status_id', 'status']]

      atletas.status_id    status
0                     7      NULO
1                     7      NULO
2                     6  SUSPENSO
3                     7      NULO
4                     6  SUSPENSO
...                 ...       ...
4292                  6  SUSPENSO
4293                  6  SUSPENSO
4294                  6  SUSPENSO
4295                  6  SUSPENSO
4296                  6  SUSPENSO

[4297 rows x 2 columns]

In [176]:
df2['id'] = pd.factorize(df['atletas.nome'])[0]
print(df2[['atletas.nome', 'id']])

                         atletas.nome   id
0      Luis Antônio Venker de Menezes    0
1          Fábio Deivson Lopes Maciel    1
2          Bruno Ferreira Mombra Rosa    2
3     Márcio Rafael Ferreira de Souza    3
4                  Fábio Santos Romeu    4
...                               ...  ...
4292         Felipe Negrucci Berdague  733
4293             Paulo Vitor Monteiro  734
4294           Daniel Camargo Nolasco  735
4295          Arielson Sampaio Galvão  736
4296      Leandro Mathias Silva Bueno  737

[4297 rows x 2 columns]

In [177]:
df2.columns

Index(['Unnamed: 0', 'atletas.variacao_num', 'atletas.preco_num',
       'atletas.foto', 'atletas.nome', 'atletas.clube.id.full.name',
       'atletas.atleta_id', 'atletas.apelido_abreviado', 'atletas.rodada_id',
       'atletas.posicao_id', 'atletas.status_id', 'atletas.clube_id',
       'atletas.pontos_num', 'atletas.minimo_para_valorizar',
       'atletas.jogos_num', 'atletas.media_num', 'atletas.apelido',
       'atletas.slug', 'A', 'CA', 'DS', 'FC', 'FD', 'FF', 'FS', 'FT', 'G',
       'PP', 'I', 'SG', 'PS', 'CV', 'DE', 'GS', 'V', 'PC', 'DP', 'GC',
       'atletas.temporada_id', 'posicao', 'status', 'id'],
      dtype='object')

In [178]:
#Criando FEATURES

df2['desempenho_ultimas_5'] = df2.groupby(['id'])['atletas.media_num'].transform(lambda x: x.rolling(window=5, min_periods=1).mean())


# Preencher valores ausentes com a média da coluna
df2['desempenho_ultimas_5'].fillna(df2['desempenho_ultimas_5'].mean(), inplace=True)

In [179]:
df2.desempenho_ultimas_5

0       4.750000
1       4.610000
2       0.360000
3       3.950000
4       1.890000
          ...
4292    0.000000
4293    0.733333
4294    0.000000
4295    0.000000
4296    0.000000
Name: desempenho_ultimas_5, Length: 4297, dtype: float64

In [180]:
df2.columns

Index(['Unnamed: 0', 'atletas.variacao_num', 'atletas.preco_num',
       'atletas.foto', 'atletas.nome', 'atletas.clube.id.full.name',
       'atletas.atleta_id', 'atletas.apelido_abreviado', 'atletas.rodada_id',
       'atletas.posicao_id', 'atletas.status_id', 'atletas.clube_id',
       'atletas.pontos_num', 'atletas.minimo_para_valorizar',
       'atletas.jogos_num', 'atletas.media_num', 'atletas.apelido',
       'atletas.slug', 'A', 'CA', 'DS', 'FC', 'FD', 'FF', 'FS', 'FT', 'G',
       'PP', 'I', 'SG', 'PS', 'CV', 'DE', 'GS', 'V', 'PC', 'DP', 'GC',
       'atletas.temporada_id', 'posicao', 'status', 'id',
       'desempenho_ultimas_5'],
      dtype='object')

In [181]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# X são as características dos jogadores (ex: idade, posição, time, etc.)
# y são as pontuações dos jogadores nas rodadas anteriores


X = df2[['atletas.status_id', 'atletas.rodada_id', 'atletas.pontos_num', 'atletas.clube_id', 'atletas.media_num', 'atletas.atleta_id',
       'atletas.jogos_num', 'atletas.preco_num',
         'atletas.variacao_num',
       'atletas.posicao_id', 'atletas.minimo_para_valorizar', 'DS', 'FC', 'FD',
       'FF', 'FS', 'G', 'V', 'A', 'CA', 'I', 'DE', 'GS', 'PC', 'PS', 'SG',
       'CV', 'FT', 'DP', 'PP', 'GC', 'atletas.temporada_id', 'id']]
y = df2['desempenho_ultimas_5']
#y_y = y.drop(colunas_deletar_y, axis=1)



# Separar os dados em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Treinar o modelo de regressão linear
regressor = LinearRegression()
regressor.fit(X_train, y_train)

# Fazer as previsões para a próxima rodada
pontuacoes_previstas = regressor.predict(X_test)

In [182]:
pontuacoes_previstas

array([1.33586235, 5.15157593, 0.14358474, ..., 0.84109364, 0.69085528,
       0.14076848])

In [183]:
pontuacoes_previstas_df = pd.DataFrame({'ID': X_test['id'], 'Pontuacao Prevista':pontuacoes_previstas})

In [184]:
pontuacoes_previstas_df = pontuacoes_previstas_df.sort_values(by='Pontuacao Prevista', ascending = False)

In [185]:
pontuacoes_previstas_df.head(30)

       ID  Pontuacao Prevista
2398  228           15.407894
3867  284           14.183022
2453  284           12.631594
976   211           12.568295
3102  228           10.926660
251   251           10.774560
829    68           10.475393
1288  525           10.422600
1356  987           10.307872
857    96            9.194198
1623  159            8.981063
12     12            8.967162
3833  251            8.807434
1044  280            8.666947
869   108            8.659264
358   358            8.531808
893   807            8.502138
1180  917            8.496259
1116  888            8.346971
1204  930            8.260032
4032  450            8.018702
1961  496            7.969879
3100  226            7.945983
1174  413            7.933129
1515   53            7.802765
2366  198            7.773509
2882   12            7.750599
1818  352            7.707164
3738  156            7.684923
3750  169            7.660223

In [186]:
# Fundir os DataFrames usando o ID como chave de junção
resultado = pontuacoes_previstas_df.merge(df2[['id', 'atletas.apelido', 'atletas.clube.id.full.name','posicao','atletas.status_id', 'status']], left_on='ID', right_on='id', how='left')

# Selecionar as colunas desejadas
resultado = resultado[['ID', 'Pontuacao Prevista', 'atletas.apelido', 'atletas.clube.id.full.name','posicao','atletas.status_id', 'status']]

# Ordenar o resultado pelo valor da coluna "Pontuacao Prevista" em ordem decrescente
resultado = resultado.sort_values(by='Pontuacao Prevista', ascending=False)

# Imprimir o resultado
print(resultado)

       ID  Pontuacao Prevista atletas.apelido atletas.clube.id.full.name  \
0     228           15.407894         Mendoza                     Santos
2     228           15.407894         Mendoza                     Santos
3     228           15.407894         Mendoza                     Santos
4     228           15.407894         Mendoza                     Santos
5     228           15.407894         Mendoza                     Santos
...   ...                 ...             ...                        ...
6742  151           -0.803934  Marcelo Rangel                     GoiÃ¡s
6743  151           -0.803934  Marcelo Rangel                      Goiás
6744  151           -0.803934  Marcelo Rangel                      Goiás
6745  151           -0.803934  Marcelo Rangel                      Goiás
6746  151           -0.803934  Marcelo Rangel                      Goiás

     posicao  atletas.status_id    status
0        ATA                  7      NULO
2        ATA                  2  PROVÁVEL
3        ATA                  7      NULO
4        ATA                  7      NULO
5        ATA                  7      NULO
...      ...                ...       ...
6742     GOL                  6  SUSPENSO
6743     GOL                  6  SUSPENSO
6744     GOL                  6  SUSPENSO
6745     GOL                  7      NULO
6746     GOL                  7      NULO

[6747 rows x 7 columns]

In [187]:
# Eliminar linhas com valores iguais na coluna "atletas.nome"
resultado_top = resultado.drop_duplicates(subset=['atletas.apelido'])

# Exibir o DataFrame resultante
resultado_top.head(60)

,ID,Pontuacao Prevista,atletas.apelido,atletas.clube.id.full.name,posicao,atletas.status_id,status
0,228,15.407894,Mendoza,Santos,ATA,7,NULO
6,284,14.183022,Raphael Veiga,Palmeiras,MEI,7,NULO
18,211,12.568295,Ayrton Lucas,Flamengo,LAT,3,CONTUNDIDO
30,251,10.774560,Marlon,Cruzeiro,LAT,7,NULO
38,68,10.475393,Pablo,Athlético-PR,ATA,6,SUSPENSO
42,525,10.422600,Andrey Santos,Vasco,MEI,6,SUSPENSO
48,987,10.307872,Bruninho,Bragantino,MEI,6,SUSPENSO
54,96,9.194198,Fernando Diniz,Fluminense,TEC,7,NULO
55,159,8.981063,Tiquinho Soares,Botafogo,ATA,7,NULO
66,12,8.967162,Hulk,Atlético-MG,ATA,7,NULO
78,280,8.666947,Matheus Fernandes,Bragantino,MEI,7,NULO
79,108,8.659264,Samuel Xavier,Fluminense,LAT,7,NULO
87,358,8.531808,Pepê,Grêmio,MEI,6,SUSPENSO
90,807,8.502138,Cano,Fluminense,ATA,7,NULO
91,917,8.496259,MoisÃ©s,Fortaleza,ATA,6,SUSPENSO
92,888,8.346971,Vitor JacarÃ©,Bahia,ATA,7,NULO
93,930,8.260032,Matheus AraÃºjo,Corinthians,MEI,2,PROVÁVEL
94,450,8.018702,Gabriel Pec,Vasco,ATA,6,SUSPENSO
103,496,7.969879,Adriel,Grêmio,GOL,6,SUSPENSO
106,226,7.945983,Róger Guedes,Corinthians,ATA,6,SUSPENSO
114,413,7.933129,Christian,Athlético-PR,MEI,7,NULO
120,53,7.802765,Dudu,Palmeiras,ATA,7,NULO
123,198,7.773509,Thaciano,Bahia,MEI,7,NULO
135,352,7.707164,Vitor Jacaré,Bahia,ATA,5,DÚVIDA
143,156,7.684923,Léo Pereira,Flamengo,ZAG,7,NULO
141,156,7.684923,LÃ©o Pereira,Flamengo,ZAG,7,NULO
146,169,7.660223,Cantillo,Corinthians,MEI,6,SUSPENSO
157,828,7.615169,LÃ©o Jardim,Vasco,GOL,7,NULO
158,1036,7.565083,Moisés,Fortaleza,ATA,6,SUSPENSO
171,252,7.441384,Nino,Fluminense,ZAG,7,NULO
173,15,7.362183,Dorival Júnior,São Paulo,TEC,7,NULO
178,981,7.353950,Bitello,GrÃªmio,MEI,7,NULO
200,56,7.085556,Rafael Cabral,Cruzeiro,GOL,7,NULO
203,113,7.043998,Aloísio,América-MG,ATA,6,SUSPENSO
211,217,7.042097,Gerson,Flamengo,MEI,5,DÚVIDA
220,318,7.022928,Alemão,Internacional,ATA,6,SUSPENSO
221,318,7.022928,AlemÃ£o,Internacional,ATA,7,NULO
231,229,6.916681,Bruno Pacheco,Fortaleza,LAT,7,NULO
232,777,6.885836,Alan Patrick,Internacional,MEI,7,NULO
233,527,6.858126,Hugo,Botafogo,LAT,6,SUSPENSO
238,950,6.821124,Nathan,Santos,LAT,7,NULO
244,17,6.791084,Renato Gaúcho,Grêmio,TEC,7,NULO
240,17,6.791084,Renato GaÃºcho,GrÃªmio,TEC,7,NULO
245,262,6.788632,Bruno Rodrigues,Cruzeiro,ATA,7,NULO
251,844,6.779980,FabrÃ­cio Bruno,Flamengo,ZAG,7,NULO
256,290,6.776987,Juninho Capixaba,Bragantino,LAT,7,NULO
274,322,6.699418,Di Placido,Botafogo,LAT,7,NULO
283,191,6.697780,Pedro Henrique,Athlético-PR,ZAG,7,NULO
285,419,6.697286,Juan Vojvoda,Fortaleza,TEC,7,NULO
296,424,6.626799,Bento,Athlético-PR,GOL,7,NULO
308,205,6.536401,Arrascaeta,Flamengo,MEI,7,NULO
309,296,6.498327,Artur,Palmeiras,ATA,7,NULO
319,491,6.490193,Natanael,Coritiba,LAT,7,NULO
326,949,6.462629,AndrÃ©,Fluminense,MEI,7,NULO
330,380,6.434130,Caio Paulista,São Paulo,LAT,7,NULO
333,91,6.418518,Gabriel Pires,Botafogo,MEI,6,SUSPENSO
347,540,6.371070,Rubens,Atlético-MG,LAT,7,NULO
360,241,6.364884,Everaldo,América-MG,ATA,3,CONTUNDIDO
373,267,6.330313,Wanderson,Internacional,ATA,7,NULO
390,936,6.291818,Bruno Gomes,Coritiba,MEI,7,NULO

In [188]:
#resultado_top_titular = resultado_top[(resultado_top['atletas.status_id'] == 2) | (resultado_top['atletas.status_id']) == 3]
#atletas_selecionados = resultado_top[(resultado_top['atletas.status_id'] == 2) | (resultado_top['atletas.status_id'] == 3)]
atletas_selecionados = resultado_top[(resultado_top['atletas.status_id'] == 2) | (resultado_top['atletas.status_id'] == 7)]

atletas_selecionados.head(30)

,ID,Pontuacao Prevista,atletas.apelido,atletas.clube.id.full.name,posicao,atletas.status_id,status
0,228,15.407894,Mendoza,Santos,ATA,7,NULO
6,284,14.183022,Raphael Veiga,Palmeiras,MEI,7,NULO
30,251,10.774560,Marlon,Cruzeiro,LAT,7,NULO
54,96,9.194198,Fernando Diniz,Fluminense,TEC,7,NULO
55,159,8.981063,Tiquinho Soares,Botafogo,ATA,7,NULO
66,12,8.967162,Hulk,Atlético-MG,ATA,7,NULO
78,280,8.666947,Matheus Fernandes,Bragantino,MEI,7,NULO
79,108,8.659264,Samuel Xavier,Fluminense,LAT,7,NULO
90,807,8.502138,Cano,Fluminense,ATA,7,NULO
92,888,8.346971,Vitor JacarÃ©,Bahia,ATA,7,NULO
93,930,8.260032,Matheus AraÃºjo,Corinthians,MEI,2,PROVÁVEL
114,413,7.933129,Christian,Athlético-PR,MEI,7,NULO
120,53,7.802765,Dudu,Palmeiras,ATA,7,NULO
123,198,7.773509,Thaciano,Bahia,MEI,7,NULO
143,156,7.684923,Léo Pereira,Flamengo,ZAG,7,NULO
141,156,7.684923,LÃ©o Pereira,Flamengo,ZAG,7,NULO
157,828,7.615169,LÃ©o Jardim,Vasco,GOL,7,NULO
171,252,7.441384,Nino,Fluminense,ZAG,7,NULO
173,15,7.362183,Dorival Júnior,São Paulo,TEC,7,NULO
178,981,7.353950,Bitello,GrÃªmio,MEI,7,NULO
200,56,7.085556,Rafael Cabral,Cruzeiro,GOL,7,NULO
221,318,7.022928,AlemÃ£o,Internacional,ATA,7,NULO
231,229,6.916681,Bruno Pacheco,Fortaleza,LAT,7,NULO
232,777,6.885836,Alan Patrick,Internacional,MEI,7,NULO
238,950,6.821124,Nathan,Santos,LAT,7,NULO
244,17,6.791084,Renato Gaúcho,Grêmio,TEC,7,NULO
240,17,6.791084,Renato GaÃºcho,GrÃªmio,TEC,7,NULO
245,262,6.788632,Bruno Rodrigues,Cruzeiro,ATA,7,NULO
251,844,6.779980,FabrÃ­cio Bruno,Flamengo,ZAG,7,NULO
256,290,6.776987,Juninho Capixaba,Bragantino,LAT,7,NULO